body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
}

.titulo-form {
    text-align: center;
    margin-top: 2rem;
}


.formulario-registro {
    background-color: white;
    max-width: 500px;
    margin: 3rem auto;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-top: 1rem;
    font-weight: bold;
}

input, select {
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.2rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    margin-top: 1.5rem;
    padding: 0.6rem 1.2rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
